<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/main.css" type="text/css" />
  <link rel='icon' href="icon.png" />
  <title>Better Jobs - For Software Engineers</title>
</head>
<body>
  <section class="nav-container">
    <nav class="nav">
      <a href="/" class="nav-logo">Better Jobs <span>&lt;For Software Engineers /&gt;</span></a>

      <ul class="nav-links">
        <li><a href="/" class="nav-link">About</a></li>
        <li><a href="/" class="nav-link">Logs</a></li>
        <% if request.path != '/' %>
          <li><a href="/" class="nav-link nav-search">New Search</a></li>
        <% end %>
      </ul>
    </nav>
  </section>
</body>
  <div>
    <%= yield %>
  </div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154169557-1"></script>
<script data-ad-client="ca-pub-5501544683216495" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154169557-1');
</script>
</html>
