<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Efficiently & easily find awesome jobs matches as a Software Engineer. Let the computer do the work for you, as usual."/>
  <meta name="keywords" content="software,engineer,engineering,jobs,remote,san francisco,software engineer jobs,developer jobs,remote jobs,san francisco,new york,boston,seattle,denver,colorado" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/main.css" type="text/css" />
  <link rel='icon' href="icon.png" />
  <title>Better Jobs <%= @page_title %></title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154169557-1"></script>
  <script data-ad-client="ca-pub-5501544683216495" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-154169557-1');
  </script>
  <!-- Hotjar Tracking Code for www.betterjobs.us -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1615424,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>
<body class="<%= request.path == '/' ? 'landing' : '' %>">
  <section class="nav-container">
    <nav class="nav">
      <h1><a href="/" class="nav-logo">Better Jobs <span>&lt;For Software Engineers /&gt;</span></a></h1>

      <ul class="nav-links">
        <% if request.path != '/' %>
          <li><a href="/" class="nav-link nav-search">New Search</a></li>
        <% end %>
      </ul>
    </nav>
  </section>
  <%= yield %>
</body>
</html>
