<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/main.css" type="text/css" />
</head>
<body>
  <section class="nav-container">
    <nav class="nav container">
      <a href="/" class="nav-logo">Better Jobs</a>


      <ul class="nav-links">
        <li><a href="#" class="nav-link">About</a></li>
        <li><a href="#" class="nav-link">Contribute</a></li>
        <li><a href="#" class="nav-link">Contact</a></li>
        <li><a href="/" class="nav-link nav-search">New Search</a></li>
      </ul>
    </nav>
  </section>
</body>
  <div class="container">
    <%= yield %>
  </div>
</html>
