<section class="search-jumbo">
  <div class="container">
    <p class="search-jumbo-title">Find awesome job matches</p>
    <p class="search-jumbo-location">in
      <span class="selected-location">
        San Francisco, CA
      </span>
    </p>
    <div class="location-selections">
      <% @location_with_count.each do |record| %>
        <p class="location-selection">
          <%= record['count'] %>
          <span><%= record['location'] %></span>
        </p>
      <% end %>
    </div>
  </div>
  <img src="assets/sanfrancisco.jpg" class="location-selection-image-preload" />
  <img src="assets/newyork.jpg" class="location-selection-image-preload" />
  <img src="assets/boston.jpg" class="location-selection-image-preload" />
  <img src="assets/austin.jpg" class="location-selection-image-preload" />
  <img src="assets/seattle.jpg" class="location-selection-image-preload" />
</section>

<div class="container">
  <form class="search" action="/jobs" method="get">
    <input type="hidden" name="location" value="San Francisco, CA" id="location" />

    <div class="form-section-header">
      <div>
        <span>1</span>
        <h4>Choose points needed to pass</h4>
      </div>
    </div>

    <input
      type="range"
      id="passing_points"
      value="50"
      name="passing_points"
    />

    <div class="slider">
      <div class="slider-fill"></div>

      <div class="slider-label-container">
        <i class="fas fa-check"></i>
        <p class="slider-label-detail">50 points</p>
      </div>
    </div>

    <div class="form-section-header">
      <div>
        <span>2</span>
        <h4>Define your keywords</h4>
      </div>
      <button class="reset">Reset search terms</button>
    </div>
    <section class="fields">
      <fieldset>
        <div class="search-label-container label-good">
          <label
            for="good-keywords"
            class="search-label">
            Good Keywords
          </label>
          <i class="fas fa-thumbs-up"></i>
        </div>
        <p class="label-explanation">
          <i class="fas fa-info-circle"></i>
          If a keyword is found, points are added to the total once.
        </p>
        <textarea
          id="good-keywords"
          class="textarea-goodkeywords"
          name="good_keywords">
css 10
html 10
ruby 20
rails 20
react 10
redux 10
beer 5
appacademy 100
apprentice 5
beer 5
culture 5
cypress 5
enzyme 5
equity 5
javascript 5
jest 5
jquery 5
mysql 5
postgresql 5
postgres 5
pto 5</textarea>
      </fieldset>

      <fieldset>
        <div class="search-label-container label-bad">
          <label
            for="bad-keywords"
            class="search-label">
            Bad Keywords
          </label>
          <i class="fas fa-thumbs-down"></i>
        </div>
        <p class="label-explanation">
          <i class="fas fa-info-circle"></i>
          If a keyword is found, points are deducted from the total once.
        </p>
        <textarea
          id="bad-keywords"
          class="textarea-bad"
          name="bad_keywords">
phd -10
crypto -10
blockchain -10
java -10
c# -10
c++ -10</textarea>
      </fieldset>

      <fieldset>
        <div class="search-label-container label-bad">
          <label
            for="position-exclusions"
            class="search-label">
            Position Exclusions
          </label>
          <i class="fas fa-ban"></i>
        </div>
        <p class="label-explanation">
          <i class="fas fa-info-circle"></i>
          If any of these words are found in the position title, it will be excluded from your results.
        </p>
        <textarea
          id="position-exclusions"
          class="textarea-bad"
          name="position_exclusions">
senior
lead
instructor
scientist
aws
teaching
teacher</textarea>
      </fieldset>
    </section>

    <button class="submit">Search</button>
  </form>
</div>

<script src="assets/search.js"></script>
