<footer class="footer">
  <div class="container">
    <ul class="footer-locations">
      <li><a href="#">Jobs near San Francisco, California</a></li>
      <li><a href="#">Jobs near New York, New York</a></li>
      <li><a href="#">Jobs near Boston, Massachusetts</a></li>
      <li><a href="#">Jobs near Seattle, Washington</a></li>
      <li><a href="#">Jobs near Denver, Colorado</a></li>
      <li><a href="#">Remote Jobs</a></li>
    </ul>

    <div class="footer-detail">
      <a href="#">Back to top</a>
      <p>©Copyright 2019 BetterJobs.us</p>
    </div>

    <ul class="footer-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</footer>
