@import url('https://fonts.googleapis.com/css?family=Nunito:400,900&display=swap');

.container {
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.image-preload {
  display: none;
}

a,
body {
  color: #333;
}

body {
  font-family: 'Nunito', sans-serif;
}