.easysearch {
  &-buttons {
    margin-bottom: 40px;
  }

  &-button {
    &-submit {
      border: none;
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 10px;
      padding: 0;
      text-align: left;
      width: 100%;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .easysearch-buttons {
    flex-wrap: wrap;
  }

  .easysearch-button {
    width: 49%;
  }
}