.nav-container {
  background: #222;
  position: relative;
  z-index: 10;
  justify-content: center;
  width: 100%;
}

.nav {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-coins {
  align-items: center;
  color: #ed7933;
  display: flex;

  img {
    height: 24px;
    width: 24px;
    margin-left: 5px;
  }
}

.nav-logo {
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.nav-logo span {
  color: $gray-medium;
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
}

.nav-links {
  color: white;
  display: flex;
  font-size: 12px;
}

.nav-link {
  color: white;
  display: block;
  margin-left: 10px;
  padding: 10px 0;

  &:hover {
    border-bottom: 1px solid #ccc;
  }

  &.active {
    border-bottom: 1px solid white;
    font-weight: 700;

    &:hover {
      border-bottom: 1px solid white;
    }
  }
}

.nav-search {
  background: linear-gradient($green-light, $green-dark);
  padding: 10px 15px;
  border-radius: $border-radius;
  font-size: 12px;
  font-weight: 700;
  color: white;

  &:hover {
    border: none;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .nav-logo {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-logo span {
    margin-left: 0;
  }
}