.jumbo-results {
  margin-bottom: -20px;

  h2 {
    color: #333;
    font-size: 32px;
    text-align: center;

    span {
      font-weight: 700;
    }
  }

  p {
    color: #333;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.jobs {
  position: relative;
  z-index: 10;
}

.no-matches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-matches-text {
  color: $gray-medium;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 150px;
  text-align: center;
}

.job-card {
  background: white;
  border: 1px solid #efefef;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
  transition: 0.5s margin;
}

.job-card:hover {
  margin-left: -10px;
  margin-right: -10px;
}

.job-heading {
  text-align: center;
}

.job-points {
  align-items: center;
  color: $green;
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin-right: 20px;
  width: 50px;

  img {
    height: 32px;
    margin-right: 5px;
    width: 32px;
  }
}

.job-main {
  width: 100%;
}

.job-link {
  color: #333;
  display: block;
}

.job-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.job-company {
  color: #777;
  font-size: 14px;
}

.job-position {
  font-weight: 700;
  margin-bottom: 5px;
}

.job-location {
  font-size: 12px;
}

.job-body {
  background: #efefef;
  padding: 10px;
}

/* KEYWORDS *******************************************************************/
.keyword-matches {
  display: flex;
  justify-content: space-between;
}

.good-keywords,
.bad-keywords {
  display: flex;
}

.keyword {
  border-radius: $border-radius;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
}

.good-keyword {
  background: $green;
  margin-right: 5px;
  font-weight: 400;
}

.bad-keyword {
  background: $pink;
  margin-left: 5px;
  font-weight: 400;
}

@media screen and (max-width: $breakpoint-mobile) {
  .job-position {
    font-size: 13px;
    margin-bottom: 3px;
  }

  .job-company {
    font-size: 12px;
  }

  .keyword-matches {
    flex-direction: column;
  }

  .bad-keyword {
    margin-top: 3px;
    margin-right: 2px;
    margin-left: 0px;
  }

  .good-keyword {
    margin-right: 2px;
  }

  .job-card {
    position: relative;
    display: block;
  }

  .job-location {
    position: absolute;
    right: 6px;
    top: 6px;
  }

  .keyword {
    padding: 3px;
  }

  .job-points-passing {
    padding: 3px;
  }
}
