.jumbo-results {
  margin-bottom: -20px;

  h2 {
    color: #333;
    font-size: 32px;
    text-align: center;

    span {
      font-weight: 700;
    }
  }

  p {
    color: #333;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.container.jobs {
  max-width: 600px;
}

.jobs {
  position: relative;
  z-index: 10;
}

.no-matches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-matches-text {
  color: $gray-medium;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 150px;
  text-align: center;
}

.job-card {
  background: white;
  border: 1px solid #efefef;
  border-radius: 10px;
  display: flex;
  margin-bottom: 15px;
  position: relative;
  transition: 0.5s margin;
}

.job-card:hover {
  margin-left: -10px;
  margin-right: -10px;
}

.job-heading {
}

.job-points {
  align-items: center;
  color: $green;
  display: flex;
  font-size: 14px;
  justify-content: center;
  width: 50px;

  &-failing {
    color: $pink;
  }

  img {
    height: 32px;
    margin-left: 5px;
    width: 32px;
  }
}

.job-main {
  width: 100%;
}

.job-link {
  color: #333;
  display: block;
}

.job-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.job-company {
  color: #777;
  font-size: 14px;
}

.job-position {
  font-weight: 700;
  margin-bottom: 5px;
}

.job-location {
  color: #777;
  position: absolute;
  font-size: 10px;
  top: -9px;
  right: 20px;
  z-index: 500;
  background: white;
  border: 1px solid #efefef;
  padding: 3px 10px;
  border-radius: 10px;
}

.job-body {
  padding: 0 20px 20px;
}

/* KEYWORDS *******************************************************************/
.keyword-matches {
  display: flex;
  justify-content: space-between;
}

.good-keywords,
.bad-keywords {
  display: flex;
  align-items: flex-start;
}

.keyword {
  border-radius: $border-radius;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
}

.good-keyword {
  background: $green;
  margin-right: 5px;
  font-weight: 400;
}

.bad-keyword {
  background: $pink;
  margin-left: 5px;
  font-weight: 400;
}

@media screen and (max-width: $breakpoint-mobile) {
}
