.container.jobs {
  margin-top: -125px;
}

.jobs {
  position: relative;
  z-index: 10;

  h2 {
    color: white;
    font-size: 32px;
    text-align: center;

    span {
      font-weight: 700;
    }
  }
}

.jobs > p {
  color: white;
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.no-matches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-matches-text {
  color: $gray-medium;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 150px;
  text-align: center;
}

.job-card {
  background: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
  transition: 0.5s margin, 0.5s box-shadow;
}

.job-card:hover {
  box-shadow: 0 0 0 2px $green;
  margin-left: -10px;
  margin-right: -10px;
}

.job-points {
  display: flex;
  min-width: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  padding: 2px;
  color: $gray-dark;
  font-weight: 700;
}

.job-points-passing {
  background: $green;
}

.job-points-failing {
  background: $pink;
  box-shadow: inset 0 0 10px #eb4d4b;
}

.job-main {
  flex-grow: 1;
}

.job-link {
  padding: 10px;
  color: $gray-dark;
  display: block;
}

.job-top {
  display: flex;
  justify-content: space-between;
}

.job-company {
  color: #777;
  font-size: 14px;
}

.job-position {
  font-weight: 700;
  margin-bottom: 5px;
}

.job-location {
  font-size: 12px;
  align-self: flex-start;
}

.job-body {
  margin-top: 10px;
}

/* KEYWORDS *******************************************************************/
.keyword-matches {
  display: flex;
  justify-content: space-between;
}

.good-keywords,
.bad-keywords {
  display: flex;
}

.keyword {
  padding: 5px;
  font-size: 10px;
  border-radius: $border-radius;
  font-weight: 700;
}

.good-keyword {
  background: $green;
  margin-right: 5px;
  font-weight: 400;
}

.bad-keyword {
  background: $pink;
  margin-left: 5px;
  font-weight: 400;
}

@media screen and (max-width: $breakpoint-mobile) {
  .job-position {
    font-size: 13px;
    margin-bottom: 3px;
  }

  .job-company {
    font-size: 12px;
  }

  .keyword-matches {
    flex-direction: column;
  }

  .bad-keyword {
    margin-top: 3px;
    margin-right: 2px;
    margin-left: 0px;
  }

  .good-keyword {
    margin-right: 2px;
  }

  .job-card {
    position: relative;
    display: block;
  }

  .job-location {
    position: absolute;
    right: 6px;
    top: 6px;
  }

  .keyword {
    padding: 3px;
  }

  .job-points-passing {
    padding: 3px;
  }
}
