.search-jumbo .container {
  align-items: center;
  display: flex;
}

.container-search {
  display: flex;
  flex-direction: row;
  padding-top: 40px;

  aside {
    margin-right: 40px;
    max-width: 300px;
  }

  section {
    flex: 1;
  }
}

.section-label {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 700;
}

.section-detail {
  color: $gray-medium;
  font-size: 14px;
  margin-bottom: 40px;
}

.search-jumbo {
  background: #efefef;
  justify-content: space-between;
  padding: 40px 0;
  position: relative;

  .container {
    position: relative;
    z-index: 10;
  }
}

.gradient {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75)
}

.search-jumbo-title,
.search-jumbo-location {
  color: #333;
  font-size: 42px;
  font-weight: 700;
}

.search-jumbo-location {
  margin-bottom: 20px;

  span {
    display: inline-block;
    border-bottom: 3px solid greenyellow;
    font-weight: 700;
    padding-bottom: 5px;
    cursor: pointer;
  }
}

.location-selections {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;

  p {
    border-radius: $border-radius;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    text-align: center;
  }

  span {
    margin-left: 5px;
    font-weight: 700;
  }
}

.location-selection {
  @include clickable-button(white, white, #ddd);

  color: #333;
}

.location-selection-image-preload {
  display: none;
}

.search-jumbo-detail {
  color: $gray-medium;
  margin-bottom: 10px;
}

.search-jumbo-action {
  background-color: $green;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 25px;
  font-size: 14px;
}

.form-updates {
  background: white;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  max-width: 300px;
  justify-content: space-between;
  padding: 20px;

  input {
    border: 1px solid #efefef;
    border-radius: $border-radius;
    margin-bottom: 10px;
    padding: 10px;
  }

  button {
    @include clickable-button($green, $green-light, $green-dark);

    border-radius: $border-radius;
    color: white;
    font-weight: 700;
    padding: 10px;
  }
}

.form-updates-title {
  font-weight: 700;
  line-height: 1.4;
}

.form-updates-description {
  font-size: 14px;
  line-height: 1.4;
  margin: 10px 0;
}

.reset {
  @include clickable-button(#efefef, #fff, #aaa);

  border-radius: 5px;
  color: #333;
  font-size: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.fields {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.field {
  background: white;
  border-radius: $border-radius;
  border: 1px solid #efefef;
  margin-bottom: 40px;
  overflow: hidden;
  width: 32%;
}

button.submit {
  @include clickable-button($green, $green-light, $green-dark);

  border-radius: $border-radius;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;

  &:active {
    margin-top: 13px;
  }
}

button.disabled {
  background: #ccc !important;
  border-bottom: 3px solid #aaa;
  cursor: not-allowed;
}

input[type="range"] {
  display: none;
}

.slider {
  background-color: #efefef;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 40px;
  overflow: hidden;
  width: 100%;
  position: relative;
  cursor: ew-resize;

  &:hover {
    .slider-fill {
      background: $green-light;
    }
  }
}

.slider-fill {
  background: $green;
  border-bottom: 3px solid $green-dark;
  height: 100%;
  width: 50%;
  position: relative;
  transition: 0.25s background;
}

.slider-label-container {
  position: absolute;
  height: 100%;
  display: flex;
  top: 0;
  left: 20px;
  align-items: center;
  pointer-events: none;
  z-index: 200;
  font-size: 16px;
}

.slider-label-detail {
  color: #333;
  font-weight: 700;
  user-select: none;
}

.search-label-container {
  padding: 10px;
  text-align: center;
}

.label-good {
  color: limegreen;
}

.label-bad {
  color: darkred;
}

.search-label {
  display: block;
  font-size: 14px;
  color: white;
}

.label-explanation {
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  line-height: 1.5;
  padding: 20px;
}

.label-good {
  background: $green;
}

.label-bad {
  background: $pink;
}

textarea {
  border: none;
  width: 100%;
  height: 400px;
  resize: none;
  color: $gray-dark;
  padding: 20px;
  line-height: 1.5;
}

textarea:focus {
  outline: none;
}

.form-section-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.form-section-header div {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.form-section-header select {
  flex: 1;
}

.form-section-header span {
  background: #efefef;
  color: $gray-dark;
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
  padding: 5px 10px;
}

.form-section-header h4 {
  color: $gray-dark;
}

.location {
  padding: 10px;
  color: $gray-dark;
  border: none;
  cursor: pointer;
}

@keyframes pulse {
  from { opacity: 1 }
  to { opacity: 0.8 }
}

.new-job-count {
  animation: pulse linear 1s infinite alternate;
  background: #e74c3c;
  border-radius: $border-radius;
  color: white;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 5px 10px;

  span {
    font-weight: 700;
    margin-right: 3px;
  }

  i {
    color: darkred;
    margin-right: 5px;
  }
}

.form-added-keywords {
  font-weight: 700;
}

.form-added {
  &-keyword {
    align-items: center;
    border-top: 1px solid #efefef;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    padding: 10px;

    p {
      align-items: center;
      display: flex;
    }

    .good {
      color: green;
    }

    .bad {
      color: $pink;
    }

    button {
      border: none;
      color: #ccc;
      cursor: pointer;
      margin-left: -7px;
    }

    img {
      height: 16px;
      margin-left: 5px;
      width: 16px;
    }
  }

  &-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;

    img {
      margin-bottom: 20px;
    }

    h6 {
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      font-size: 12px;
      line-height: 1.5;
    }
  }
}

.form-add {
  background: #efefef;
  border-top: 1px solid #efefef;
  display: flex;

  &-keyword,
  &-points {
    background: none;
    border: none;
    padding: 10px;
  }

  &-keyword {
    flex: 1;
  }

  &-points {
    width: 33%;
  }

  &-button {
    @include clickable-button($green, $green-light, $green-dark);

    color: white;
    font-weight: 700;
    padding: 0 15px;

    &.bad {
      @include clickable-button($pink, $pink-light, $pink-dark);
    }
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .fields {
    display: block;
  }

  .field {
    width: 100%;
  }

  textarea {
    height: 200px;
  }

  .form-updates {
    display: none;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .easysearch {
    display: none;
  }
}