.search-jumbo {
  color: white;
  justify-content: space-between;
  padding: 100px 0;
  margin-top: -60px;
  margin-bottom: 20px;
  background-color: #ccc;
  background-image: url('sanfrancisco.jpg');
  background-position: center;
  background-size: cover;
  position: relative;

  .container {
    position: relative;
    z-index: 10;
  }
}

.gradient {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 60%, #efefef);
}

.search-jumbo-title,
.search-jumbo-location {
  font-size: 42px;
  margin-bottom: 10px;
  color: white;
}

.search-jumbo-location {
  span {
    display: inline-block;
    border-bottom: 3px solid greenyellow;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}

.location-selections {
  cursor: pointer;
  font-size: 10px;

  p {
    transition: 0.5s box-shadow, 0.5s background;
    border-radius: $border-radius;
    display: inline-block;
    padding: 5px 10px;
    background: rgba(255,255,255,0.25);
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: 400;

    &:hover {
      box-shadow: $box-shadow;
      background: $green;
    }
  }

  span {
    margin-left: 5px;
    font-weight: 700;
  }
}

.location-selection-image-preload {
  display: none;
}

.search-jumbo-detail {
  color: $gray-medium;
  margin-bottom: 20px;
}

.search-jumbo-action {
  background-color: $green;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 25px;
  font-size: 14px;
}

.fields {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

fieldset {
  width: 32%;
  background: white;
  margin-bottom: 20px;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $box-shadow;
}

button.submit {
  display: block;
  width: 100%;
  padding: 10px;
  background: $green;
  border: none;
  font-weight: 700;
  color: white;
  line-height: 1.5;
  transition: 0.5s background;
  cursor: pointer;
  border-radius: $border-radius;
  margin-bottom: 20px;
  box-shadow: $box-shadow;
}

button.disabled {
  background: #ccc !important;
  cursor: not-allowed;
}

input[type="range"] {
  display: none;
}

.slider {
  background-color: white;
  border-radius: 10px;
  height: 50px;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  cursor: ew-resize;
  box-shadow: $box-shadow;
}

.slider-fill {
  background: $green;
  height: 100%;
  width: 50%;
  position: relative;
}

.slider-label-container {
  position: absolute;
  height: 100%;
  display: flex;
  top: 0;
  left: 20px;
  align-items: center;
  pointer-events: none;
  z-index: 200;
  font-size: 14px;
}

.slider-label-container i {
  color: limegreen;
  margin-right: 5px;
}

.slider-label-detail {
  color: $gray-dark;
  font-weight: 700;
  user-select: none;
}

.search-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.label-good {
  color: limegreen;
}

.label-bad {
  color: darkred;
}

.search-label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.label-explanation {
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  line-height: 1.5;
  padding: 20px;
}

.label-good {
  background: $green;
}

.label-bad {
  background: $pink;
}

textarea {
  border: none;
  width: 100%;
  height: 400px;
  resize: none;
  color: $gray-dark;
  padding: 20px;
  line-height: 1.5;
}

textarea:focus {
  outline: none;
}

.form-section-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.form-section-header div {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.form-section-header select {
  flex: 1;
}

.form-section-header span {
  background: white;
  color: $gray-dark;
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
  padding: 5px 10px;
}

.form-section-header h4 {
  color: $gray-dark;
}

.reset {
  padding: 5px 10px;
  font-size: 10px;
  color: $gray-medium;
  border: none;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.reset:hover {
  background-color: white;
  color: $gray-medium;
}

.location {
  padding: 10px;
  color: $gray-dark;
  border: none;
  box-shadow: $box-shadow;
  cursor: pointer;
}

@media screen and (max-width: $breakpoint-mobile) {
  .fields {
    display: block;
  }

  fieldset {
    width: 100%;
  }

  textarea {
    height: 200px;
  }
}
