.section-label {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 700;
}

.section-detail {
  color: $gray-medium;
  font-size: 14px;
  margin-bottom: 40px;
}

.search-jumbo {
  color: white;
  justify-content: space-between;
  padding: 100px 0;
  margin-top: -60px;
  margin-bottom: 10px;
  background-color: #ccc;
  background-image: url('sanfrancisco.jpg');
  background-position: center;
  background-size: cover;
  position: relative;

  .container {
    position: relative;
    z-index: 10;
  }
}

.gradient {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75)
}

.search-jumbo-title,
.search-jumbo-location {
  color: white;
  font-size: 42px;
  font-weight: 700;
  text-shadow: 0 0 18px rgba(0,0,0,0.75);
}

.search-jumbo-location {
  margin-bottom: 50px;

  span {
    display: inline-block;
    border-bottom: 3px solid greenyellow;
    font-weight: 700;
    padding-bottom: 5px;
    cursor: pointer;
  }
}

.location-selections {
  cursor: pointer;
  font-size: 10px;

  p {
    border-radius: $border-radius;
    display: inline-block;
    padding: 5px 10px;
    background: rgba(255,255,255,0.25);
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: 400;

    &:hover {
      background: $green;
    }
  }

  span {
    margin-left: 5px;
    font-weight: 700;
  }
}

.location-selection-image-preload {
  display: none;
}

.search-jumbo-detail {
  color: $gray-medium;
  margin-bottom: 10px;
}

.search-jumbo-action {
  background-color: $green;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 25px;
  font-size: 14px;
}

.fields {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.field {
  background: white;
  border-radius: $border-radius;
  border: 1px solid #efefef;
  margin-bottom: 40px;
  overflow: hidden;
  width: 32%;
}

button.submit {
  background: $green;
  border-radius: $border-radius;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
  padding: 10px;
  transition: 0.5s background;
  width: 100%;
}

button.disabled {
  background: #ccc !important;
  cursor: not-allowed;
}

input[type="range"] {
  display: none;
}

.slider {
  background-color: #efefef;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 40px;
  overflow: hidden;
  width: 100%;
  position: relative;
  cursor: ew-resize;
}

.slider-fill {
  background: $green;
  height: 100%;
  width: 50%;
  position: relative;
}

.slider-label-container {
  position: absolute;
  height: 100%;
  display: flex;
  top: 0;
  left: 20px;
  align-items: center;
  pointer-events: none;
  z-index: 200;
  font-size: 14px;
}

.slider-label-container i {
  color: limegreen;
  margin-right: 5px;
}

.slider-label-detail {
  color: white;
  font-weight: 700;
  user-select: none;
}

.search-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.label-good {
  color: limegreen;
}

.label-bad {
  color: darkred;
}

.search-label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.label-explanation {
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  line-height: 1.5;
  padding: 20px;
}

.label-good {
  background: $green;
}

.label-bad {
  background: $pink;
}

textarea {
  border: none;
  width: 100%;
  height: 400px;
  resize: none;
  color: $gray-dark;
  padding: 20px;
  line-height: 1.5;
}

textarea:focus {
  outline: none;
}

.form-section-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.form-section-header div {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.form-section-header select {
  flex: 1;
}

.form-section-header span {
  background: #efefef;
  color: $gray-dark;
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
  padding: 5px 10px;
}

.form-section-header h4 {
  color: $gray-dark;
}

.reset {
  padding: 5px 10px;
  font-size: 10px;
  color: $gray-medium;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
}

.location {
  padding: 10px;
  color: $gray-dark;
  border: none;
  cursor: pointer;
}

@keyframes pulse {
  from { opacity: 1 }
  to { opacity: 0.8 }
}

.new-job-count {
  animation: pulse linear 1s infinite alternate;
  background: #e74c3c;
  border-radius: $border-radius;
  color: white;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 50px;
  padding: 5px 10px;

  span {
    font-weight: 700;
    margin-right: 3px;
  }

  i {
    color: darkred;
    margin-right: 5px;
  }
}

.form-added-keywords {
  min-height: 100px;
}

.form-added {
  &-keyword {
    align-items: center;
    border-bottom: 1px solid #efefef;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    padding: 10px;

    button {
      margin-left: 10px;
    }
  }

  &-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;

    img {
      margin-bottom: 20px;
    }

    h6 {
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      font-size: 12px;
      line-height: 1.5;
    }
  }
}

.form-add {
  background: #efefef;
  border-top: 1px solid #efefef;
  display: flex;

  &-keyword,
  &-points {
    background: none;
    border: none;
    padding: 10px;
  }

  &-keyword {
    flex: 1;
  }

  &-points {
    width: 33%;
  }

  &-button {
    background: $green;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 700;
    padding: 0 15px;

    &.bad {
      background: $pink;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .fields {
    display: block;
  }

  .field {
    width: 100%;
  }

  textarea {
    height: 200px;
  }
}
