$black: #222;
$green: #A6E22E;
$pink: #F92672;
$gray-light: #efefef;
$gray-medium: #b3b3b3;
$gray-dark: #121212;
$orange: #FD971F;
$gray-light: #efefef;
$gray-medium: #b3b3b3;
$gray-dark: #121212;
$breakpoint-mobile: 600px;
$border-radius: 5px;