<section>
  <h3 class="section-label">Search</h3>
  <h4 class="section-detail">Find job matches based upon how you rank keywords</h4>

  <form class="search" action="/jobs" method="get">
    <input type="hidden" name="location" value="<%= stored_location_or_default %>" class="location" />

    <button class="reset">Clear search terms</button>
    <section class="fields">
      <div class="field">
        <div class="form-added-placeholder">
          <img src="emerald.png" alt="Icon to illustrate points" />
          <h6>Add Points</h6>
          <p>For each keyword, if found in the description of job, points are added to the accumulated total.</p>
        </div>
        <ul class="form-added-keywords">
        </ul>

        <div class="form-add">
          <input type="hidden" name="good_keywords" value='' id="goodKeywords" />
          <input type="text" placeholder="Keyword" class="form-add-keyword" />
          <input type="text" placeholder="Points" class="form-add-points" />
          <button class="form-add-button">+</button>
        </div>
      </div>

      <div class="field">
        <div class="form-added-placeholder">
          <img src="ruby.png" alt="Ruby" />
          <h6>Subtract Points</h6>
          <p>If a keyword is found in the job description, points will be deducted from the accumulated total.</p>
        </div>
        <ul class="form-added-keywords">
        </ul>

        <div class="form-add">
          <input type="hidden" name="bad_keywords" value='' id="badKeywords" />
          <input type="text" placeholder="Keyword" class="form-add-keyword" />
          <input type="text" placeholder="Points" class="form-add-points" />
          <button class="form-add-button bad">+</button>
        </div>
      </div>

      <div class="field">
        <div class="form-added-placeholder">
          <img src="ban.png" alt="Icon to illustrate exclusion" />
          <h6>Filter Positions</h6>
          <p>If any of these words are found in the title of the position, it will be excluded from results.</p>
        </div>
        <ul class="form-added-keywords">
        </ul>

        <div class="form-add">
          <input type="hidden" name="position_exclusions" value='' id="positionExclusions" />
          <input type="text" placeholder="Enter a word" class="form-add-keyword" />
          <button class="form-add-button bad">+</button>
        </div>
      </div>
    </section>

    <img src="ban.png" alt="Icon to illustrate exclusion" class="image-preload" />
    <img src="ruby.png" alt="Icon to illustrate exclusion" class="image-preload" />
    <img src="emerald.png" alt="Icon to illustrate exclusion" class="image-preload" />

    <button class="submit">Search</button>
  </form>
</section>
